/* .message {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message.user {
  align-items: flex-end;
}

.message.assistant {
  align-items: flex-start;
}

.bubble {
  max-width: 70%;
  padding: 12px 16px;
  border-radius: 12px;
  word-wrap: break-word;
  line-height: 1.5;
  font-size: 15px;
}

.message.user .bubble {
  background: #2b62eb;
  color: #ffffff;
  border-bottom-right-radius: 4px;
  box-shadow: 0 2px 8px rgba(43, 98, 235, 0.2);
}

.message.assistant .bubble {
  background: #ffffff;
  color: rgb(62, 59, 59);
  border-bottom-left-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.bubble p {
  margin: 0;
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  .bubble {
    max-width: 85%;
  }
} */

.message {
  display: flex;
  align-items: center;
  gap: 4px;
}

.message.user {
  flex-direction: row-reverse;
}

.avatar {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.avatar.user {
  background-color: #4b4f57;
}

.avatar.assistant {
  background-color: #168aad;
}

.bubble {
  max-width: 70%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 0px 12px;
  font-size: 15px;
  line-height: 1.5;
  word-wrap: break-word;
}

.bubble.user {
  background: #168aad;
  color: #ffffff;
  border-bottom-right-radius: 4px;
}

.bubble.assistant {
  background: #ffffff;
  color: black;
  border-bottom-left-radius: 4px;
}

.bubble p {
  margin: 12px 0;
  white-space: pre-wrap;
}
